.clear	{
	display: block; float: none; clear: both; border: none; padding: 0px; margin: 0px;
	visibility: hidden; font-size: 1px; line-height: 1px;
}

.wb_item:hover,
.wb_item	{
	display: block; float: left; text-align: center; font-family: Arial,sans-serif;
	font-size: 12px; color: #6b7578; font-weight: normal; text-decoration: none;
}

.wb_caption	{
	text-align: center;
	font-size: 12px;
	color: #999;
	font-weight: normal;
	text-decoration: none;
	line-height: 14px;
	background: #fff;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.wb_caption:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.wb_caption > div {
	display: inline-block;
	vertical-align: middle;
	width: 90%;
}
.wb_caption > div > i {
	display: block;
	font-size: 58px!important;
	width: auto!important;
	height: auto!important;
	line-height: 70px!important;
	color: #ccc;
}
.wb_caption.wb_caption_small	{
	font-size: 10px;
	line-height: 11px;
}

.wb_media_library {
	height: 282px;
	overflow-y: scroll;
	margin: 0px;
	padding: 0px;
}
.wb_media_library.thumbnails { margin-left: 0px; }
.wb_media_library .alert	{ margin-bottom: 5px; }
.wb_media_library li.thumb-li {
	position: relative;
	margin-left: 0;
	margin-right: 10px;
	width: 70px;
	height: 86px;
	display: inline-block;
	vertical-align: top;
}
.wb_media_library li.thumb-li.hide {
	display: none;
}
.wb_media_library li a.btn	{
	position: absolute; right: 0px; top: 0px; z-index: 2;
}
.wb_media_library .thumbnail	{
	height: 62px; overflow: hidden; position: relative; outline: 0;
	margin: 0px;
}
.wb_media_library .thumbnail img { max-height: 52px; }
.wb_media_library .thumbnail .empty	{ position: relative; display: block; height: 100%; width:100%; background: #eeeeee; text-align: center; }
.wb_media_library .thumbnail .empty i { margin-top: 10px; }
.wb_media_library .thumbnail .empty .name { position: absolute; display: block; width: 100%; top: 26px; font-size: 11px; text-align: center; color: #6a7476; }
.wb_media_library .thumbnail:hover .empty .name {text-decoration: underline;}
.wb_media_library span.wb_thumb_name {
	display: block; height: 20px; width:100%; line-height: 20px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 11px;
	white-space: nowrap;
}

.wb_media_library .active .thumbnail span,
.wb_media_library.font_awesome_icons > li.active,
li.active .thumbnail	{ 
	background-color: #dddddd;
	border-color: #0088cc;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
       -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
            box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.wb_media_library.font_awesome_icons {
	padding: 0;
}
.wb_media_library.font_awesome_icons > li {
	list-style-type: none;
	display: inline-block;
	vertical-align: top;
	width: 166px;
	padding: 0 3px;
	margin: 0 10px 5px 0;
	border: 1px solid #FFF;
	cursor: pointer;
}
.wb_media_library.font_awesome_icons > li > i {
	width: 20px;
	margin-right: 5px;
}
.wb_media_library.font_awesome_icons > li > span {
	font-size: 11px;
}
.wb_sel_list	{
	border: 1px solid #dddddd; width: 160px; height: 300px; overflow-y: scroll;
}
.wb_button_wrap1 { position: absolute; z-index: 1200; right: 0; bottom: 0; padding: 20px; background: white; }

i.ico-tb,
i.ico-tb-reset,
i.ico-tb-info,
i.ico-tb-template,
i.ico-tb-preview,
i.ico-tb-report,
i.ico-tb-help,
i.ico-tb-save,
i.ico-tb-save-as,
i.ico-tb-text,
i.ico-tb-picture,
i.ico-tb-table,
i.ico-tb-menu,
i.ico-tb-gallery,
i.ico-tb-lang,
i.ico-tb-news,
i.ico-tb-blog,
i.ico-tb-form,
i.ico-tb-upgrade,
i.ico-tb-banner,
i.ico-tb-button,
i.ico-tb-buynow,
i.ico-tb-store,
i.ico-tb-store-cart,
i.ico-tb-chat,
i.ico-tb-facebook-fans,
i.ico-tb-facebook-like,
i.ico-tb-flash,
i.ico-tb-flash_menu,
i.ico-tb-flickr-gallery,
i.ico-tb-google-adsense,
i.ico-tb-google-maps,
i.ico-tb-html,
i.ico-tb-line,
i.ico-tb-musicplayer,
i.ico-tb-share,
i.ico-tb-skype-imonline,
i.ico-tb-twitter,
i.ico-tb-youtube,
i.ico-tb-shape	{
	display: inline-block; padding: 0px; margin: 0px; border: none;
	font-size: 1px; line-height: 1px; overflow: hidden; width: 30px; height: 30px;
	background: transparent url("../img/icons_all.png") no-repeat center center;
}
i.ico-tb-no-bg { background: none; }
i.ico-tb-no-bg img { width: 100%; height: 100%; }

i.ico-lang-mk { background-position: -234px -132px; }
i.ico-lang-si { background-position: -342px -108px; }


i.ico-tb-save	{ background-position: 0px 0px; }
i.ico-tb-preview	{ background-position: -30px 0px; }
i.ico-tb-undo	{ background-position: -60px 0px; }
i.ico-tb-redo	{ background-position: -90px 0px; }
i.ico-tb-reset	{ background-position: -120px 0px; }

i.ico-tb-grid		{ background-position: -210px -60px; width: 30px; height: 30px; }
i.ico-tb-snap		{ background-position: -180px -60px; width: 30px; height: 30px; }
i.ico-tb-template	{ background-position: -120px -60px; width: 30px; height: 30px; }
i.ico-tb-fullscreen	{ background-position: -150px -60px; width: 30px; height: 30px; }
i.ico-tb-layout		{ background-position: -240px -60px; width: 30px; height: 30px; }

i.ico-tb-info	{ background-image: url("../img/ico_tb_info.png"); width: 40px; height: 40px; }
i.ico-tb-template { background-image: url("../img/ico_tb_template.png"); width: 40px; height: 40px; }
i.ico-tb-report	{ background-image: url("../img/ico_tb_report.png"); width: 40px; height: 40px; }
i.ico-tb-help	{ background-image: url("../img/ico_tb_help.png"); width: 40px; height: 40px; }

i.ico-tb-save-as { background: url("../img/ico_tb_save_as.png") no-repeat left 1px; }

i.ico-tb-text	{ background-position: 0px -30px; }
i.ico-tb-picture	{ background-position: -30px -30px; }
i.ico-tb-table	{ background-image: url("../img/ico_tb_table.png"); }
i.ico-tb-menu	{ background-position: -210px -30px; }
i.ico-tb-gallery	{ background-position: -60px -30px; }
i.ico-tb-lang	{ background-position: -124px -124px; }
i.ico-tb-news	{ background-image: url("../img/ico_tb_news.png"); }
i.ico-tb-blog	{ background-image: url("../img/ico_tb_blog.png"); }
i.ico-tb-form	{ background-position: -180px -30px; }
i.ico-tb-upgrade	{ background-image: url("../img/ico_tb_upgrade.png"); }
i.ico-tb-banner	{ background-position: -60px -60px; }
i.ico-tb-button	{ background-position: 0px -60px; }
i.ico-tb-buynow	{ background-position: -30px -60px; }
i.ico-tb-store	{ background-position: -90px -150px; }
i.ico-tb-store-cart	{ background-position: -90px -150px; }
i.ico-tb-chat	{ background-position: -90px -90px; width: 30px; height: 30px; }
i.ico-tb-facebook-fans	{ background-position: 0px -90px; width: 30px; height: 30px; }
i.ico-tb-facebook-like	{ background-position: -30px -90px; width: 30px; height: 30px; }
i.ico-tb-flash	{ background-position: -210px -90px; width: 30px; height: 30px; }
i.ico-tb-flash-menu		{ background-image: url("../img/ico_tb_flash_menu.png"); }
i.ico-tb-flickr-gallery	{ background-position: -180px -90px; width: 30px; height: 30px; }
i.ico-tb-google-adsense	{ background-position: -240px -90px; }
i.ico-tb-google-maps	{ background-position: -90px -60px; }
i.ico-tb-html	{ background-position: -240px -30px; }
i.ico-tb-line	{ background-position: -150px -30px; }
i.ico-tb-musicplayer	{ background-position: -120px -60px; }
i.ico-tb-share	{ background-position: -60px -90px; width: 30px; height: 30px; }
i.ico-tb-skype-imonline	{ background-position: -120px -90px; width: 30px; height: 30px; }
i.ico-tb-twitter{ background-position: -150px -90px; width: 30px; height: 30px; }
i.ico-tb-youtube{ background-position: -90px -30px; }
i.ico-tb-seo { background-position: -150px 0px; width: 30px; height: 30px; }
i.ico-tb-background { background-position: -180px 0px; width: 30px; height: 30px; }
i.ico-tb-favicon { background-position: -90px -120px; width: 30px; height: 30px; }
i.ico-tb-landing { background-position: -120px -150px; width: 30px; height: 30px; }
i.ico-tb-settings { background-position: -60px -150px; width: 30px; height: 30px; }
i.ico-tb-empty { background-position: -30px -150px; width: 30px; height: 30px; text-align: center; }
i.ico-tb-styles { background-position: -240px 0px; width: 30px; height: 30px; }
i.ico-tb-width { background-position: -210px 0px; width: 30px; height: 30px; }
i.ico-tb-change { background-position: -200px -80px; }
i.icon-loading	{ background: url("../img/loading2.gif") no-repeat center center; width: 16px; height: 16px; }
i.ico-tb-shape	{ background-position: -120px -30px; }
i.ico-tb-mode-tv { background-position: -150px -120px; }
i.ico-tb-mode-desktop { background-position: -180px -120px; }
i.ico-tb-mode-tablet { background-position: -210px -120px; }
i.ico-tb-mode-phone { background-position: -240px -120px; }
.active i.ico-tb-mode-tv { background-position: -150px -150px; }
.active i.ico-tb-mode-desktop { background-position: -180px -150px; }
.active i.ico-tb-mode-tablet { background-position: -210px -150px; }
.active i.ico-tb-mode-phone { background-position: -240px -150px; }

i.ico-tb-empty div { display: inline-block; vertical-align: middle; height: 100%; text-align: center; }
i.ico-tb-empty img { display: inline-block; max-width: 22px; max-height: 22px; }

i.icon-folder-full { background: url("../img/icon-folder-full.png") no-repeat center center; width: 16px; height: 14px; }
.active i.icon-folder-full { background-image: url("../img/icon-folder-full-white.png") !important; }
i.icon-home-full { background: url("../img/icon-home-full.png") no-repeat center center; width: 14px; height: 14px; }
.active i.icon-home-full { background-image: url("../img/icon-home-full-white.png") !important; }
i.icon-cog-big {
	background-image: url("../img/icons_all.png") !important;
	background-position: 0px -120px;
	width: 17px; height: 17px; margin: 0px;
}
i.icon-wb-maps {
	background-image: url("../img/icons_all.png") !important;
	background-position: -90px -60px;
	width: 22px; height: 22px; margin: 0px;
}
i.icon-wb-commerce {
	background-image: url("../img/icons_all.png") !important;
	background-position: -90px -150px;
	width: 30px; height: 30px; margin: 0px;
}
i.icon-wb-social {
	background-image: url("../img/icons_all.png") !important;
	background-position: -30px -120px;
	width: 30px; height: 30px; margin: 0px;
}
i.icon-wb-advanced {
	background-image: url("../img/icons_all.png") !important;
	background-position: -60px -120px;
	width: 30px; height: 30px; margin: 0px;
}
i.icon-wb-admin {
	background-image: url("../img/icons_all.png") !important;
	background-position: 0px -150px;
	width: 30px; height: 28px; margin: 0px;
	display: inline-block;
}
i.icon-wb-logo {
	background-image: url("../img/icon-logo.png") !important;
	background-position: 0px 0px;
	width: 22px; height: 22px; margin: -3px 0px 0px 0px;
}

.icon-wb-play-green {
	background-image: url("../img/play_green.png") !important;
	background-position: 0px 0px;
	width: 15px; height: 15px; margin: 1px 0px 0px 0px;
}
